.post{
	
	margin-top: 51px;
}
.panel-group .panel + .panel {
	margin-top: 50px !important;
}
#footer{
	background-color: #186845;
	color: #fff;
}
body{
	background-color: #49A07A;
}
.left-menu{
	background-color: #79B7C8;
	margin-top: 71px;
	max-width: 300px;
}
.panel-heading{
	background-color:#8EBBC8 !important; 
}
.fotos{
  color: #000 !important;
}